/* 
    GLOBAL
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

/* 
    USER INTERFACE
*/
.user-interface{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    background: #6943FF;
}

.title{
    font-size: 28px;
    font-weight: 900;
    color: white;
}

#user-input{
    padding: 20px;
    font-size: 58px;
    font-weight: 900;
    color: white;
    border: 2px solid B295FF;
    width: 150px;
    border-radius: 20px;
    background: #6943FF;
    text-align: center;
}

#convert{
    border: none;
    border-radius: 10px;
    color: 3D3D3D;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

/* 
    CONVERSION
*/
.conversion{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: #F4F4F4;
}

.conversion-container{
    background: #fff;
    padding: 20px 0;
    width: 500px;
    border-radius: 10px;
}

.conversion-units{
    font-size: 20px;
    color: #5A537B;
}

.converted-values{
    margin-top: 20px;
}

body{
    background: #F4F4F4; /* to cover remaining space */
}